.chat-messages-container {
  flex-grow: 1;

  margin-top: 20px;
  /* Overflow property :- Will help to make the chat messages scrollable instead of pushing the input textbox down. */
  overflow: scroll;
  scrollbar-width: none;
}